.nav__menu {
  cursor: pointer;
  font-size: 2rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  color: var(--fg0);
  z-index: 3;
}

.nav__panel {
  display: none;
}

.nav__panel.open {
  background-color: var(--bg0);
  display: block;
}

.nav__panel ul {
  margin: 1rem;
  list-style-type: none;
  padding: 0;
  font-size: 1rem;
}

.nav__panel ul li {
  padding: 1rem 0;
}

.nav__panel ul li:hover {
  font-weight: 700;
}
