.roadmap {
  padding-bottom: 1rem;
  background-color: var(--main-bg);
}

.roadmap__title {
  position: sticky;
  top: 0;
  margin: 0;
  font-weight: 400;
  padding: 1rem;
  text-align: center;
  color: var(--fg0);
  background-color: var(--bg0);
  z-index: 2;
}

.roadmap__grid {
  --columns: 3;
  display: grid;
  grid-template-columns: 4rem repeat(var(--columns), minmax(275px, 1fr));
  grid-template-rows: 3rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.roadmap__griditem-lane,
.roadmap__griditem-module {
  display: grid;
  place-content: center;
  padding: 0 0.5rem;
  --bg: var(--bg0);
  --fg: var(--fg0);
  color: var(--fg);
  font-size: 1.25rem;
  font-weight: 400;
  white-space: nowrap;
}

.roadmap__griditem-filler,
.roadmap__griditem-lane {
  position: sticky;
  top: 69px;
  background-color: var(--main-bg);
  color: var(--bg0);
  z-index: 2;
}

.roadmap__griditem-lane {
  border-bottom: 2px solid rgba(47, 73, 91, 0.1);
}

.roadmap__griditem-module {
  margin: 0.25rem;
  min-height: 8rem;
  background-color: var(--bg);
}

.roadmap__griditem-module span {
  transform: rotate(-90deg);
}

.roadmap__griditem-item,
.roadmap__griditem-statusitem {
  --cellbg: var(--odd);
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--cellbg);
  font-weight: 400;
  border-bottom: 1px solid rgba(47, 73, 91, 0.1);
}

.roadmap__griditem-item li {
  --bg: var(--bg0);
  padding: 0.25rem 0 0.25rem 0.75rem;
  margin: 0.5rem 0;
  border-radius: 2px;
  border-left: 0.5rem solid var(--bg);
  background-color: #fff;
  box-shadow: 0 0.5px 1.5px rgba(0, 0, 0, 0.24);
}

.roadmap__griditem-statusitem li {
  --bg: var(--bg0);
  display: grid;
  grid-template-columns: 1rem 2fr auto;
  grid-column-gap: 0.5rem;
  align-items: center;
  text-align: left;
  padding: 0.25rem;
  margin: 0.5rem 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0.5px 1.5px rgba(0, 0, 0, 0.24);
}

.roadmap__griditem-statusitem li svg {
  justify-self: center;
}

.roadmap__griditem-statusitem .item-note {
  font-size: 0.75rem;
  text-align: right;
  color: darkgray;
}
